{% extends 'base.html' %}
{% block body %}
    
			<div class="page_header">
				<h1>Blog</h1>
			</div>
			<div class="center">
				<div class="blog">

					<article class="single_post">
						<a href="page.html"><img src="img/img1.jpg"></a>
						<a href="page.html"><h1>Duis nec tempus ipsum. Cras eget blandit leo. Mauris est eros</h1></a>
						<div class="post_data">
							<span class="author"><i class="fas fa-user"></i>Admin</span>
							<span class="comments"><i class="fas fa-comment"></i>12</span>
						</div>
						
						<p>Duis nec tempus ipsum. Cras eget blandit leo. Mauris est eros, laoreet eu dui ac, pharetra ullamcorper felis. Cras tempus ipsum leo, quis condimentum felis faucibus sit amet. Vivamus elementum, risus vel finibus auctor, tortor quam ornare augue.</p>

						<div class="post_date">27 August 2018</div>
					</article>

				</div>

				<ul class="pagination">
					<li><a href="#">Prev</a></li>
                    
					<li><a href="#">1</a></li>
					<li class="pagination_active"><a href="#">2</a></li>
					
					<li><a href="#">Next</a></li>
				</ul>
			</div>

			
{% endblock body %}
